body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: whitesmoke;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: #494949;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #0e0120;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #270047;
      }
      .card {
         background: rgb(215, 215, 215);
         color: black;
      }
   }

   #portfolio {
      background: #0e0120;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #270047;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #0e0120;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #D7CAAA !important;
         color: rgb(56, 0, 0);
      }

      .main-badge {
         background: #D7CAAA !important;
         color: rgb(56, 0, 0);
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #0e0120 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #734529;
      color: rgb(255, 255, 255);
   }

   .close-icon {
      color: white;
   }
}
